nav{
    width: 100%;
    background-color: #FF0000;
    padding: 5px 0;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

nav a{
    color: #ffffff;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}

ul{
    width: 100%;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
    padding:  10px;
    border-right:solid 1px #ffffff ;
}

aside{
    width:25%;
    border-right: solid 1px #2f1e79;
    text-align: left;
    float: left;
}
aside h2{
    font-size: 16px;
    width: 100%;
    text-align: center;
    background-color: #000e6a;
    color: #ffffff;
    margin:  0;
    padding: 5px 0;
}
aside a{
    color: #000000;
    text-decoration: none;
}
aside a:hover{
    text-decoration: underline;
}
aside li {
    display: block;
    border-bottom: 1px solid #dee2e6;
}
aside li:nth-child(even) {
    background: rgba(0,0,0,.05);
}
aside ul{
    list-style-type:none;
    padding: 0;
}
main{
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto

}
article{
    width: 72%;
    float: left;
}