{% extends "./default.html.twig" %}
{% block body %}
    <div class="starter-template col-md-6 ">
        <h1>Login as user</h1>
        <form action="" method="post">
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" id="login" name="login" value="" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" value="" class="form-control" required>
            </div>

            <input type="submit" class="btn btn-success" value="Enter">
            <a href="/users/register/" type="button" class="btn btn-primary">Register</a>
        </form>
    </div>

{% endblock %}
