body {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    background-color: #008800;
    background-image:url(../img/pattern.png);
}

/*--------------------  header  -----------------*/
header{
    position: relative;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #013300;
    margin: 20px auto;
    width: 800px;
    height: 80px;
    color: white;
    text-align: center;
    padding: 0;
    top: 0;
}
header h1{
    margin: 0;
    font-weight: 400;
}
header p{
    font-size: 16px;
    line-height: 0px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
/*--------------------  main  -----------------*/
main{
    background-color: white;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
    padding: 0px;
    width: 800px;
    margin: 0 auto;
}
blockquote{
    font-size: 14px;
    text-align: right;
}
blockquote span{
    color: blue;
    font-size: 14px;
    text-align: right;
}
blockquote::before{
    content: "\"";
}
blockquote::after{
    content: "\"";
}
.img    {
    position: relative;
    width: 200px;
    height: 230px;
    float: left;
    margin-right: 15px;
}
.img img {
    border-radius: 200px;
    width: 200px;
    background-color: #88ff89;
    border: 5px solid #008804;
}
.img span{
    width: 200px;
    text-align: center;
    color: blue;
    position: absolute;
    font-style: normal;
}
.clear{
    clear: both;
}
main h1,main h2,main h3{
    color: black;
}
main h1,main h2{
    text-align: center;
}
main h1{
    font-size: 32px;
    font-weight: 800;
}
main h2{
    font-size: 24px;
    font-weight: 600;
}
main h3{
    font-stretch: ultra-expanded;
    letter-spacing: 2px;
}
.norm1{
    font-size: 16px;
    text-align: left;
    line-height: 30px;
    letter-spacing: 3px;
}
.norm2{
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 20px;
}
li{
    letter-spacing: 1.5px;
}
.green{
    text-align: justify;
    background-color: #89fe89;
}
main p span{
    color: red;
    font-style: italic;
    font-weight: 600;
}
/*--------------------  footer  -----------------*/
#f1{
    position: relative;
    height: 30px;
    background-color: #013300;
    border-radius:0 0 10px 10px;
    vertical-align: bottom;
    color: white;
    font-size: 16px;
    width: 800px;
    margin: 0 auto;
    top: 0px;
    border-top: red dotted 5px;
}
#f2{
    position: absolute;
    width: 100%;
    left: 0; bottom: 0;
    letter-spacing: 2px;
}