<html  ng-app="MenuBar">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Menu</title>
</head>

<body ng-controller="CreateController">

<nav class="navbar navbar-expand-lg navbar-light bg-light"  ng-controller="CreateController">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav" >
            <li class="nav-item dropdown" ng-repeat="menuItem in menuList">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{menuItem.name}}</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"  ng-if="menuItem.subList.length > 0">
                    <a class="dropdown-item" href="#" ng-repeat="subItem in menuItem.subList">
                        <span class="fa {{subItem.icon}}"></span>
                        {{subItem.name}}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="scripts.js"></script>
</body>
</html>