.filter-main h2{
    width: 100%;
    padding: 5px 0 0 0;
    margin: 10px auto;
}
.filter-main{
    margin: 5px 0;
    width: 100%;
}
.filter-main select {

    width: 100%;
     font-size: 14px;
     height: 32px;
     border-radius: 5px;
     border: solid 1px #6d756c;
     background-color: #ffffff;

 }